<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<div id="main-section">
    
    <section id="all-users">
        <div id="all-users-header">People On S-connect</div>
        <% for(u of all_users){%>
            <div class = "user-list">
                <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
            </div>
            <!--
                <p>
                <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
            </p>
            -->
            
            
        <% } %>
    </section>



    <section id="feed-posts">
        <!--<h4>Posts</h4> -->
        <% if(locals.user) { %>
            <div id="post-form">
                <div id="welcome-user">Welcome, <%= user.name %>!</div>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea id="post-content" name="content" placeholder="Type Here ...." cols="30" rows="3" required></textarea>
                <br/>
                <input type="submit" value="Post">
            </form>
            <% } %>
    
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                            
                        <%- include('_post') -%>
                            
                    <%} %>
                </ul>
            </div>
    </section>
    

   


    <%- include('_chat_box') -%>
</div>


<!-- importing this script for creating the comments -Ajax -->
<script src="/js/home_post_comment.js" ></script>
<script src="/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>